/*Make all pages visible and apply a transition on opacity and transform*/
.crocodoc-presentation-slide .crocodoc-page {
    -webkit-transition: opacity 0.2s, -webkit-transform 0.4s;
    transition: opacity 0.2s, transform 0.4s;
    visibility: visible;
}
/*Transform 100% to the left and transparentize*/
.crocodoc-presentation-slide .crocodoc-page-before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
    opacity: 0;
}
/*Transform 100% to the right and transparentize*/
.crocodoc-presentation-slide .crocodoc-page-after {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
    opacity: 0;
}
